<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div th:fragment="common_header">
    <header class="text-gray-600 body-font bg-gradient-to-r from-purple-700 to-sky-600 shadow-md shadow-blue-900"
      style="position: sticky; top: 0px;" >
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
          <img class="w-16 h-16 mr-0 invert"
            th:src="@{'/images/depositphotos_68504903-stock-illustration-pictograph-of-airplane-icon.svg'}"
            alt="logo" />
          <span class="ml-0 text-2xl text-indigo-50">TourBud</span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
          <a href="/tourdetails/getall" class="mr-5 text-violet-200 hover:text-white">Tours</a>
          <a href="/feedback" class="mr-5 text-violet-200 hover:text-white">Review</a>
          <a href="/tourist/addTourist" class="mr-5 text-violet-200 hover:text-white" id="tourist"></a>
          <a href="" class="mr-5 text-violet-200 hover:text-white" id="booking"></a>
          <!-- <a class="mr-5 hover:text-blue-50">More</a> -->
        </nav>
        <div id="button-group" class="flex flex-wrap justify-center ">
          <button
          class="px-4 py-1 text-sm text-blue-50 font-semibold border-1.5 rounded-full border border-blue-50 hover:text-blue-700 hover:bg-blue-50 hover:border-blue-900 focus:outline-none focus:ring-1 focus:ring-blue-50 focus:ring-offset-2 mr-5">
          <a href="/login">Login</a>
        </button>
        <button
          class="px-4 py-1 text-sm text-blue-50 font-semibold border-1.5 rounded-full border border-blue-50 hover:text-blue-700 hover:bg-blue-50 hover:border-blue-900 focus:outline-none focus:ring-1 focus:ring-blue-50 focus:ring-offset-2">
          <a href="/signup">Sign Up</a>
        </button>
        </div>
      </div>
    </header>
    <script th:inline="javascript" >
      const user = [[${user}]];
      console.log(user);
    </script>
</div>
</body>
</html>

