.divStyle{
    borderColor: "crimson",
    borderStyle: "thin",
    width: 400,
    margin: "auto",
    marginTop: "10vh",
    borderRadius: 20,
    padding: "15px",
    boxShadow: "3px 3px 10px 2px #576F72",
    backgroundColor: "white"
    // backgroundColor:"#F0EBE3"
}
feedbackText: {
    textAlign: "center",
    color: "#022831",
    fontFamily: 'Signika Negative',
    fontStyle: " sans-serif;",
    marginTop: 8,
}
buttonStyle: {

    marginTop: 5,
    position: "relative",
    justifyContent: 'center', alignItems: 'center', height: '50vh',
    width: '70%',
    height: 40,
    backgroundColor: '#BC012E',
    color: 'white',
    borderRadius: 15,
    border: 'none',
    marginLeft: 53
}